#container {
    width: 800px;
    height: 800px;
    border: solid 1px darkblue;
    position: relative;
}

#container .icon-01 {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 정중앙에 배치하기 위한 속성 */
    transform: translate(-50%, -50%);
}