#container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    grid-template-areas: 
    "header header section"
    "main main sectioin"
    "footer footer section"
    ; 

    grid-template:
    "header header section" minmax(100px, 1fr)
    "main main section" minmax(100px, 1fr)
    "footer footer section" minmax(100px, 1fr)
    / 1fr 1fr 1fr
}

#container header {
    background-color: #fe566b;
    grid-area: header;
}

#container main {
    background-color: #fed133;
    grid-area: main;
}

#container section { 
    background-color: #429fff;
    grid-area: section;
}

#container footer {
    background-color: #eda4ff;
    grid-area: footer;
}