#container {
    display: grid;
    grid-template: 
    "img1 img5 img7 img10" 100px
    "img1 img5 img7 img10" 100px
    "img2 img5 img7 img10" 100px
    "img2 img5 img7 img11" 100px
    "img3 img5 img8 img11" 100px
    "img3 img6 img8 img12" 100px
    "img4 img6 img8 img12" 100px
    "img4 img6 img9 img12" 100px
    / 1fr 1fr 1fr 1fr 
    ;
    gap: 6px;
}

.img1{
    background: url(https://cdn.pixabay.com/photo/2017/08/10/00/40/stars-2616537_1280.jpg) no-repeat center/cover;
    grid-area: img1;
}
.img2{
    background: url(https://cdn.pixabay.com/photo/2021/09/13/08/16/purple-flower-6620617_1280.jpg) no-repeat center/cover;
    grid-area: img2;
}
.img3{
    background: url(https://cdn.pixabay.com/photo/2017/11/19/15/20/sunrise-2963030_1280.jpg) no-repeat center/cover;
    grid-area: img3;
}
.img4{
    background: url(https://cdn.pixabay.com/photo/2019/04/29/07/34/purple-4165352_640.jpg) no-repeat center/cover;
    grid-area: img4;
}
.img5{
    background: url(https://cdn.pixabay.com/photo/2023/08/22/16/02/chrysanthemum-8206709_1280.jpg) no-repeat center/cover;
    grid-area: img5;
}
.img6{
    background: url(https://cdn.pixabay.com/photo/2016/08/07/13/35/gem-1576233_640.jpg) no-repeat center/cover;
    grid-area: img6;
}
.img7{
    background: url(https://cdn.pixabay.com/photo/2020/03/19/12/16/jellyfish-4947355_640.jpg) no-repeat center/cover;
    grid-area: img7;
}
.img8{
    background: url(https://cdn.pixabay.com/photo/2016/10/21/20/45/texture-1759179_640.jpg) no-repeat center/cover;
    grid-area: img8;
}
.img9{
    background: url(https://cdn.pixabay.com/photo/2018/12/17/10/18/iceland-3880104_640.jpg) no-repeat center/cover;
    grid-area: img9;
}
.img10{
    background: url(https://cdn.pixabay.com/photo/2018/07/28/22/12/sky-3569073_640.jpg) no-repeat center/cover;
    grid-area: img10;
}
.img11{
    background: url(https://cdn.pixabay.com/photo/2022/10/04/21/25/xr-7499160_640.jpg) no-repeat center/cover;
    grid-area: img11;
}
.img12{
    background: url(https://cdn.pixabay.com/photo/2016/09/29/14/06/background-1702930_640.jpg) no-repeat center/cover;
    grid-area: img12;
}